.DS_Store
xcschememanagement.plist
.xcworkspacedata
*.xcworkspace
*.xcodeproj/project.xcworkspace/xcshareddata
UserInterfaceState.xcuserstate
xcuserdata/

# fastlane
.fastlane/report.xml
.fastlane/Preview.html
.fastlane/test_output
.fastlane/README.md

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output
fastlane/README.md

## Build generated
build/
DerivedData/
*.generated.*

## Bundle
.bundle/
/bin/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.pyc
*.idea

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

/Pods/*
.build/
.artifacts/

.vscode/
tmp/

.xcconfigs/
